# pandas 
# numpy
# matplotlib
# seaborn
# ipykernel
# pytorch
# scikit-learn
# torchinfo 
# tqdm
# streamlit


pandas
numpy
matplotlib
seaborn
scikit-learn
torch
torchvision
torchaudio
torchinfo
tqdm
streamlit
pillow
opencv-python